<div [formGroup]="formGroup" class="mt-2">
    <label 
        [for]="config.formControlName" 
        class="block text-sm font-medium leading-6 text-gray-900"
    >{{ config.label }}</label>
    <div class="mt-1">
        <input 
            [disabled]="submitting"
            [formControlName]="config.formControlName" 
            [id]="config.formControlName" 
            [type]="config.type" 
            [required]="config.required"
            class="
            invalid:border-pink-500 invalid:text-pink-600
            block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 
            placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
            [ngClass]="{ 'bg-slate-50 text-slate-500 border-slate-200 shadow-none pointer-events-none': submitting, '': !submitting }"
        >
        <div *ngIf="formGroup.get(config.formControlName)?.invalid && formGroup.get(config.formControlName)?.touched">
            <ng-container *ngFor="let validator of config.validators">
                <small class="block text-pink-600" *ngIf="formGroup.get(config.formControlName)?.errors?.[validator.type]">{{ validator.errorMessage }}</small>
            </ng-container>
        </div>
    </div>
</div>