<header class="bg-white shadow">
    <div class="flex justify-between mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
        <h1 class="text-3xl font-bold tracking-tight text-gray-900">Dashboard</h1>
        <div class="flex float-end">
            <app-create-application-btn></app-create-application-btn>
        </div>
    </div>
</header>
<main>
    <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8 flex flex-wrap">
        <app-application-card></app-application-card>
        <app-application-card></app-application-card>
        <app-application-card></app-application-card>
        <app-application-card></app-application-card>
        <app-create-application-card-btn></app-create-application-card-btn>       
    </div>
</main>
<app-modal></app-modal>